.homepage-carousel {
    text-align: center;
}

.homepage-carousel img {
  width: 300px;
  height: auto;
  border-radius: 8px;
  margin: 12px;
  transition: transform 0.2s ease;
}

.homepage-carousel img:hover {
   transform: scale(1.03);
}


/* #email-icon-container {
    grid-area: email;
}
#facebook-icon-container {
    grid-area: facebook;
}
#instagram-icon-container {
    grid-area: instagram;
} */

/* #contact-icons {
    display: grid;
    justify-items: left;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas:
        'email'
        'facebook'
        'instagram';
    column-gap: 30px;
} */