
.homepage-carousel {
    text-align: center;
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.homepage-carousel img {
  width: 300px;
  border-radius: 1rem;
  scroll-snap-align: center;
  transition: transform 0.3s;
}

.homepage-carousel img:hover {
   transform: scale(1.03);
}


/* #email-icon-container {
    grid-area: email;
}
#facebook-icon-container {
    grid-area: facebook;
}
#instagram-icon-container {
    grid-area: instagram;
} */

/* #contact-icons {
    display: grid;
    justify-items: left;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas:
        'email'
        'facebook'
        'instagram';
    column-gap: 30px;
} */