.card {
    display: inline-block;
    vertical-align: top;
    color: #1e323c;
    background-color: white;
    width: 100%;
    margin-bottom: 15px; /* matches column-gap of container */
    padding: 12px;
    border: none;
    border-radius: 6px;
    filter: drop-shadow(0px 2px 2px rgba(30, 50, 60, 0.3));
}

.clickable-card {
    transition: filter 0.3s ease-in-out;
}

.clickable-card:hover {
    filter: drop-shadow(0px 5px 5px rgba(30, 50, 60, 0.5));
    cursor: pointer;
}